<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://appcaso3basesdedatos.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>appcaso3basesdedatos.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AppCaso3BasesDeDatos</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AppCaso3BasesDeDatos</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AppCaso3BasesDeDatos.Models.ApplicationDbContext, AppCaso3BasesDeDatos" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SQLAzureConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=nfc89bk7cw.database.windows.net;Initial Catalog=ACME;Integrated Security=False;User ID=admin11;Password=Pepe1196;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SQLAzureConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=nfc89bk7cw.database.windows.net;Initial Catalog=ACME;&#xD;&#xA;  User ID=admin11;Password=Pepe1196;&#xD;&#xA;  Encrypt=true;Trusted_Connection=false;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ACMEConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=nfc89bk7cw.database.windows.net;Initial Catalog=ACME;Integrated Security=False;User ID=admin11;Password=Pepe1196;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ACMEConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=nfc89bk7cw.database.windows.net;Initial Catalog=ACME;Integrated Security=False;User ID=admin11;Password=Pepe1196;Encrypt=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>